<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="{{name}}">{{label}}</label>
    <div class="col-sm-7">
        <span class="input-group">
            <select name="{{name}}" class="form-control" ng-options="getValueId(item) as getValueText(item) for item in options" ng-model="model" ng-disabled="disabled" ng-required="required"  focus></select>
            <span ng-if="withClearButton" class="btn input-group-addon pointer" ng-click="clear()" ng-disabled="!model"><i class="pull-right glyphicon glyphicon-remove"></i></span>
        </span>
    </div>
</div>